.theme-light {
  // General
  --color-danger: theme('colors.red.400');

  // Text colors
  --text-color-default: theme('colors.gray.900');
  --text-color-heading: theme('colors.gray.600');
  --text-color-accent: theme('colors.blue.700');

  // Background colors
  --page-background-color: theme('colors.gray.200');
  --card-background-color: theme('colors.white');
  --nav-background-color: theme('colors.white');

  // Border color
  --card-input-border-color: theme('colors.gray.500');
}
